@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.back {
    margin: 15px;
}

.back a {

    text-decoration: none;
    margin-left: 25px;
    color: white;
    font-size: larger;
}

.container {
    display: flex;
    margin-top: 100px;
}

.about {

    margin-left: 100px;
}

.text {
    width: 600px;
    height: 50px;
    text-align: justify;
}

button {
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

button a {
    text-decoration: none;

    color: black;
    font-size: larger;
}

.table {

    margin-left: 100px;
}

tr,
td {
    padding: 5px;
}