* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.back {
    margin: 15px;
}

.back a {
    text-decoration: none;
    margin-left: 25px;
    color: white;
    font-size: larger;
}

.top {
    display: flex;
    color: white;
}

.title {
    margin-left: 450px;

}


.box {
    padding: 10px;
    margin-left: 250px;
    width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border: 2px solid white;
    background-color: rgba(145, 131, 131, 0.432);

}

.map {
    height: 400px;
    width: 380px;
    text-align: center;
}

.query {
    /* color: white; */
    text-align: center;
    width: 400px;
    height: 400px;
}

.skill-title {
    font-weight: 500;
    font-size: 24px;
    /* color: white; */
    padding-bottom: 5px;
}

.message table input {
    margin-left: 60px;
    margin-top: 10px;
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
}

.btn {
    margin-left: 80px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: white;

}