@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: 'PT Sans', sans-serif;
}

.header-image-div {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.header-image-div img {
    width: 100%;
    height: 200px;
    padding: 0px;
}


.menu li a {

    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}

.menu li {
    list-style: none;
    width: 210px;
    height: 40px;
    background-color: rgb(30, 17, 73);
    float: left;
    line-height: 40px;

}

.dropdown {
    color: white;
    position: relative;

}

.menu {
    height: 40px;
    background-color: rgb(30, 17, 73);


}

.menu ul {
    display: none;
}

.menu li:hover ul {
    display: block;
}


.content {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.container {
    width: 700px;
    padding: 20px;
}

.skill-title {
    font-weight: 500;
    font-size: 24px;
    color: rgb(30, 17, 73);
    padding-bottom: 5px;
}

.skill {
    display: flex;
    align-items: center;
    width: 600px;
}

.description {
    margin-left: 15px;
}

.description p {
    text-align: justify;
}

.skill img {
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
}

.skill-name {
    margin-left: 15px;
}

.enroll {
    margin-top: 100px;
    margin-left: 300px;
}

.enroll a {
    color: white;
    text-decoration: none;
}

.batch {
    margin-top: 80px;
}

.enroll-button {
    width: 200px;
    height: 100px;
    background-color: rgb(30, 17, 73);
    color: white;
    font-weight: 900;
    font-size: larger;
    border-radius: 50px;
    box-shadow: 35px 35px rgba(54, 16, 84, 0.128);
}


.enroll-button:hover {
    background-color: green;
}

.date {
    padding-left: 15px;
    color: green;
}

hr {
    border: 2px solid rgb(30, 17, 73);
}

footer {
    text-align: center;
    margin-top: 50px;
}

table img {
    width: 200px;
    height: 150px;
}

td {
    background-color: aliceblue;
}


.steps {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.step {
    height: 350px;
    width: 350px;
    box-shadow: 15px 15px 5px rgba(30, 17, 73, 0.358);

    margin: 5px;
}

.article {}

.article img {
    width: 350px;
    height: 150px;

}

.read-now {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 47px;
    color: white;
    width: 350px;
    height: 50px;
    background-color: rgb(30, 17, 73);
}

.read-now a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.join {
    width: 400px;
    text-align: justify;
}

.event-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-right: 100px;
    margin-left: 100px; */

    padding: 20px;
    border: 2px solid blue;
}

.event-content table {
    margin-top: 25px;
}

.btn {
    margin-left: 80px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(30, 17, 73);
    color: white;
}


.internship {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.writings {
    width: 900px;
    text-align: center;
    margin: 5px;
}

.internship h1 {
    color: rgb(30, 17, 73);
}


/* courses style */
.second-section {
    /* background-color: rgba(54, 16, 84, 0.128); */
    border-radius: 55px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(30, 17, 73);
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;


}

.courses {
    margin-left: 120px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    padding-bottom: 10px;
}



.course img {
    width: 224px;
    height: 104px;
    border-radius: 10px;
}

.filled {
    color: #FFC014;
}


.course-duration {
    color: rgb(20, 212, 13);
}

.last {
    margin-top: 100px;
    background-color: rgb(30, 17, 73);
    height: 180px;
}


.social {
    color: white;
    display: flex;
}

.fb {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;

}

.fb a {
    text-decoration: none;
    color: white;
}

.inst a {
    text-decoration: none;
    color: white;
}

.twi a {
    text-decoration: none;
    color: white;
}

.inst {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;

}

.twi {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
}

.footer-section {
    margin-top: 60px;
    color: white;
    text-align: center;
}