*{
    margin: 0px;
    padding:0px;
}
body{
   
    font-family: 'PT Sans', sans-serif;
    /* background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover; */
   
}
.header-image-div{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.header-image-div img{
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
}

.menu{
    margin-bottom: 1px;
   
}
.menu li a{
    font-size: large;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}
.menu li{
 
    list-style: none;
    width: 208px;
    height: 40px;
    background-color: rgb(30, 17, 73);  
    float: left;
    margin: 1px;  
    line-height: 40px;
    
 }

 .dropdown{
    color: white;
    position: relative;
  
}

.menu{
/* width: 100%; */
height: 40px;
background-color: rgb(221, 217, 226);

}
.menu ul{
    display: none;
}
.menu li:hover ul{
    display: block;
    /* top: 70px; */
    /* opacity: 1;
    visibility: visible;
    transition: .3s linear; */
} 

.content{
    display:flex;
}

.skills{
    /* border: 5px solid red; */
   height: 820px;
   width: 800px;
    margin-right: 100px;
}

.skills h3{
    text-align: center;
    padding-top: 5px;
}

footer{
    text-align: center;
    margin-top: 50px;
}

table img{
    width: 200px;
    height: 150px;
}

td{
    /* padding: 2px; */
    background-color: aliceblue;
}
h3{
    text-align: center;
}
.steps{
display: flex;
margin-top:25px;
}

.step1{
width: 410px;
height: 300px;
border: 2px solid red;
margin: 5px;
}
.step2{
    width: 410px;
    height: 300px;
    border: 2px solid red;
    margin: 5px;
}
.step3{
    width: 410px;
    height: 300px;
    border: 2px solid red;
    margin: 5px;
}